tempostack:
  namespace: tempo

  storage:
    secretName: tempostack-dev-minio

  resources:
    limits:
      memory: 16Gi
      cpu: "6"

  tenants:
    authentication:
      - tenantName: dev
        tenantId: ec68da6d-6e32-410d-9f76-07d815ab865a

  template:
    gateway:
      enabled: true
    queryFrontend:
      jaegerQuery:
        enabled: true

  rbac:
    reader:
      resourceNames:
        - traces

tracing:
  telemetries:
    - name: mesh-default
      namespace: istio-system
      spec:
        tracing:
          - providers:
              - name: zipkin
            randomSamplingPercentage: 100
        metrics:
          - providers:
              - name: prometheus

  collectors:
    - name: dev
      namespace: istio-system
      config: |
        receivers:
          jaeger:
            protocols:
              grpc:
                endpoint: 0.0.0.0:14250
              thrift_binary:
                endpoint: 0.0.0.0:6832
              thrift_compact:
                endpoint: 0.0.0.0:6831
              thrift_http:
                endpoint: 0.0.0.0:14268
          otlp:
            protocols:
              grpc:
                endpoint: 0.0.0.0:4317
              http:
                endpoint: 0.0.0.0:4318
          zipkin:
            endpoint: 0.0.0.0:9411
        exporters:
          debug: null
          otlp:
            auth:
              authenticator: bearertokenauth
            endpoint: tempo-tempostack-gateway.tempo.svc.cluster.local:8090
            headers:
              X-Scope-OrgID: dev
            tls:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt
              insecure: false
        extensions:
          bearertokenauth:
            filename: /var/run/secrets/kubernetes.io/serviceaccount/token
        service:
          extensions:
            - bearertokenauth
          telemetry:
            metrics:
              readers:
              - pull:
                  exporter:
                    prometheus:
                      host: 0.0.0.0
                      port: 8888 
          pipelines:
            traces:
              exporters:
                - otlp
                - debug
              receivers:
                - otlp
                - jaeger
                - zipkin
