from playwright.sync_api import Page


def test_travelops_adjust_requests_on_travel_control_dashboard(page: Page):
    # Log in to Openshift console
    page.goto("{{ hub_console.stdout }}")
    page.get_by_label("Username *").fill("kubeadmin")
    page.get_by_label("Password *").fill("{{ kubeadmin }}")
    page.get_by_role("button", name="Log in").click()

    # Go to travel control dashboard and adjust requests
    page.goto("{{ travel_control_dashboard }}")
    page.locator('[id="travels\\.uk_ratio"]').fill("98")
    page.locator('[id="travels\\.uk_device_mobile"]').fill("5")
    page.locator('[id="travels\\.uk_user_registered"]').fill("89")
    page.locator('[id="travels\\.uk_travel_t3"]').fill("71")
    page.locator('[id="viaggi\\.it_ratio"]').fill("0")
    page.locator('[id="viaggi\\.it_device_mobile"]').fill("100")
    page.locator('[id="viaggi\\.it_user_registered"]').fill("99")
    page.locator('[id="viaggi\\.it_travel_t2"]').fill("80")
    page.locator('[id="voyages\\.fr_ratio"]').fill("51")
    page.locator('[id="voyages\\.fr_travel_t1"]').fill("59")
    page.screenshot(path="travel_control_dashboard.png", full_page=True)


def test_travelops_travel_agency_traffic_graph(page: Page):
    # Log in
    page.goto("https://kiali-istio-system.apps.{{ hub_cluster }}")
    page.get_by_label("Username *").fill("kubeadmin")
    page.get_by_label("Password *").fill("{{ kubeadmin }}")
    page.get_by_role("button", name="Log in").click()

    # Go to kiali travel-agency traffic graph and verify apps
    page.get_by_role("link", name="Traffic Graph").click()
    page.locator('[data-test="namespace-dropdown"]').click()
    page.locator('[id="namespace-list-item\\[travel-agency\\]"]').get_by_role(
        "checkbox"
    ).check()
    page.locator('[id="namespace-list-item\\[travel-control\\]"]').get_by_role(
        "checkbox"
    ).check()
    page.locator('[id="namespace-list-item\\[travel-portal\\]"]').get_by_role(
        "checkbox"
    ).check()
    page.locator('[data-test="namespace-dropdown"]').click()
    page.wait_for_timeout(5000)
    page.screenshot(path="kiali_traffic_graph.png", full_page=True)
