# Default values for control.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

appVersion: v1

replicaCount: 1

image:
  registry: quay.io
  repository: kiali
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: v1

service:
  name: http
  type: ClusterIP
  port: 8080

job:
  image: image-registry.openshift-image-registry.svc:5000/openshift/cli

rbac:
  serviceAccountName: travelops-sa

gateway:
  enabled: true
  namespace: travel-control
  gatewayClassName: istio
  port: 80
  hostname: ""
  path: "/"
  allowedRoutes:
    from: Same
