# Default values for control.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Global parameters for the jaeger resource
global:
  localClusterDomain: ''
  jaeger:
    strategy: production

# Enable automatic sidecar injection
sidecarAutoInjection: true

# Enable jaeger sidecar
sidecarJaeger: true

# Add travelops namespaces to servicemesh:
serviceMeshMemberNamespaces:
  - travel-portal
  - travel-control
  - travel-agency

appVersion: v1

replicaCount: 1

image:
  registry: quay.io
  repository: kiali
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: v1

service:
  name: http
  type: ClusterIP
  port: 8080

job:
  image: image-registry.openshift-image-registry.svc:5000/openshift/cli
